<div *ngIf="locationChosen" class="login animated fadeIn" style="margin-top:100px;">

  <div class="formulario animated fadeIn">

      <div class="top-content">

          <div class="inner-bg">
              <div class="container">
                  <div class="row">
                      <div class="col-sm-12">

                          <div class="form-box">

<table class="table">
  <tbody>
      <tr class="col-md-12">
          <th scope="row">Nombre</th>
          <td>{{ product?.nombre }}</td>
      </tr>
      <tr>
          <th scope="row">Marca</th>
          <td>{{ product?.marca }}</td>
      </tr>
      <tr>
          <th scope="row">Color</th>
          <td>{{ product?.color }}</td>
      </tr>
      <tr>
          <th scope="row">Precio</th>
          <td>{{ product?.precio }}</td>
      </tr><br><br>

    

      <h6>DIRECCION</h6>
      <br><br>
      <tr>
          <th scope="row">REGION</th>
          <td>{{ product?.region }}</td>
      </tr>
      <tr>
          <th scope="row">PROVINCIA</th>
          <td>{{ product?.provicia }}</td>
      </tr>
      <tr>
          <th scope="row">MUNICIPIO</th>
          <td>{{ product?.municipio }}</td>
      </tr>
      <tr>
          <th scope="row">CIUDAD</th>
          <td>{{ product?.ciudad }}</td>
      </tr>
      <tr>
          <th scope="row">SECTOR/BARRIO</th>
          <td>{{ product?.sector }}</td>
      </tr>
      <tr>
          <th scope="row">CALLE</th>
          <td>{{ product?.calle }}</td>
      </tr>
  </tbody>
</table>

</div>
</div>

</div>
</div>
</div>
</div>
</div>


</div>



