
<h3>Medir distancias</h3>


<!-- Example single danger button -->


<div class="row">
    <div class="col-sm-6">
        <div class="btn-group">
            <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Productos
            </button>
            <div class="dropdown-menu">
              <div (click)="transferDataSuccess(product)" style="cursor: pointer;" *ngFor="let product of userservice.productos" class="dropdown-item">{{ product.nombre }}</div>
            </div>
        </div>
    </div>

    <div class="col-sm-6">
        <div *ngIf="receivedData.length > 0" class="panel panel-info">
            <div class="panel-heading">Productos para comparar (Items:{{receivedData.length}})</div>
            <div class="panel-body">
                <div *ngFor="let data of receivedData">{{ data.nombre }}</div>
            </div>
        </div>
    </div>
</div>

<br><br>
<p *ngIf="distancia > 0">La distancia entre los dos productos seleccionados es {{ distancia }} metros </p>